<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre em contato</title>
</head>
<body>
    <h3>Fale comigo!</h3>
       <!--cabeçalho do meu site-->
       <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="itachi.png" alt="Foto de perfil" height="80px" width="100px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            <br>
           &nbsp;&nbsp;&nbsp;<a href="meu site.html">Sobre mim</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="music.html">música</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="meu site.html">Para mais informações</a>
        </nav>

    </header>
    <article>
        <br><br><br>
        <form action="#">
            <label for="cnome">Nome:</label><br/>
            <input type="text"size=50 name="tnome" id="cnome" required="require"><br>
            <br>
            
            <label for="cnome">Whatsapp:</label><br/>
            <input type="text"size=50 name="tnome" id="Whatsapp" required="require"><br/>
            <br>
            <label for="cnome">Email:</label><br>
            <input type="text" size="50" method="post" id="contato" action="mailto:anders.alvew22@gmail.com"><br><br/>
             <label for="cnome">Data de Nascimento:</label><br/> 
             <input type="text" size="50" name="tnome" id="ccontato"
              required="requiride"><br/><br>
              
             <p>Deixe sua mensagem</p>
             <textarea name="message" id="valor 01" cols="50" rows="10"
              placeholder="Deixe aqui sua opinião"required></textarea>
              <br><br/>
              <input type="submit" value="enviar" />
            </form>
        </article>
            
            <footer>
                <small>(IOS) Instituto da Oportunidade Social</small><br/>
                by Anderson Alves &copy;
            </footer>

           
            
        
        
        
   
            

            

            



        

    
</body>
</html>