<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!--cabeçalho do meu site-->
    <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="itachi.png" alt="Foto de perfil" height="80px" width="100px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            <br>
           &nbsp;&nbsp;&nbsp;<a href="meu site.html">Sobre mim</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="music.html">música</a>
        </nav>
    </header>
     <!--Conteúdo do meu site-->
    <!--Exemplo de uso <article-->
        
        <article>
            <h3>O susano de itachi</h3>
            <h5>Nível:5/5</h5>
            <p>
                <img src="batalha.png" alt="imagem de sasuke e itachi" width="80px" height="80px">

            </p>
            <p>
                Itachi um ninja renegado da aldeia da folha, matou<br>
                toda sua família para salvar konoha. Dispertando o <br>
                ódio do seu irmão Sasuke.
            </p>
            <p>
                Conheça mais sobre Itachi:&nbsp; <a href="#">Leia +</a>
               <hr>
                <h3>Blue Beetle</h3></
            
                <h5>Nível:4/4</h5>
                
                <p>
                    <img src="Blue beetle.png" alt="Imagem besouro azul" width="80px" height="100px">

                </p>
                <p>
                    Filme da DC juntamente com warner bros <br>protaganizado Xolo Maridueña
                    e Bruna Marquezine. <p>
                        Onde um adolescente ganha poderes ao ser escolhido por <br>
                    um escravelho espacial.<br>
                    Conheça mais sobre Blue: <a href="#">Leia +</a>
                    <hr>
                    </p><h3>Barbie</h3>
                    <p>
                        <h5>Nível: 3/3</h5>
                        <p><img src="barbie.png" alt="Imagem da barbie" width="80px" height="80px"></P>
                        <p>O filme da barbie trás algumas reflexões sobre,<br>
                            dependência emocional e auto cuidado. Depois de ser expulsa por não ser<br>
                            uma boneca perfeita, a barbie vai atrás da verdadeira felicidade. <br>
                            Conheça mais sobre a barbie: <a href="#">Leia +</a>
                            <hr>
                            <p>
                                <h3>Game of trhones</h3>
                            </p>
                            <h5>Nível 2/2</h5>
                            <p><img src="" alt="" width="80px" height="80px"></p>
                            <p>Serié sobre a história de Daeneries Targarie<br>
                            ultima targarie em busca da conquista dos setes Reinos.<br>
                            Mãe de Dragões nenhuma família em westeros pode parala.
                            </p>

                        </p>

                    </p>
                    


                </p>

            </p>
        </article>

            

            

            



        

        
    
    
        

    

            
    
</body>
</html>