<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--cabeçalho do meu site-->
    <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="itachi.png" alt="Foto de perfil" height="80px" width="100px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            <br>
           &nbsp;&nbsp;&nbsp;<a href="meu site.html">Sobre mim</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="music.html">música</a>

            

            

            



        </nav>

        
    </header>
    <!--Conteudo principal-->
    <main>
        <h1>Bem vindo ao meu site</h1>
        

        <p>
       <B>Meu nome Anderson</B> <br>
        Sou estudante de tecnologia no Ios <br>
        gosto de animais e carros.
        <h3>Coisas sobre mim</h3>
        <!--Lista não ordenada-->
        <ul>
            <li>Estudo só pelo conhecimento</li>
            <li>Tenhos muitos irmãos
                <ul>
                    <li>Aldine</li>
                    <li>Adeilza</li>
                    <li>Eudes

                    </li>

                </ul>


            </li>
            
                <li>Comidas</li>
                <li>Comidas que eu gosto


                </li>
            </li>



        </ul>
        </P>
    </main>
    <!--Rodapé-->
    <footer>
        By Anderson &copy;
    </footer>

    
</body>
</html>