<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Música</title>
</head>
<body>
      <!--cabeçalho do meu site-->
    <header style="display: flex;">
        <!--Aqui começa meu logo-->
        <section>
            <img src="itachi.png" alt="Foto de perfil" height="80px" width="100px">
        </section>
        <!--Navegação (menu)-->
        <nav>
            <br>
           &nbsp;&nbsp;&nbsp;<a href="meu site.html">Sobre mim</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="Entreterimento.html">Entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="music.html">música</a>

            

            

            



        </nav>

        
    </header>
    <!--Conteudo do meu site-->
    <!--Seção para minha play list-->
    <main>
        <H3>Top 10 das minhas músicas</H3>
        <ol reversed>
            <li>Marilia Mendoça - Infiel</li>
            <li>Billie elish - What was i made for</li>
            <li>Adele - Easy one</li>
            <li>Luan Santana - Cantada</li>
            <li>Luisa sonsa - Melhor Sozinha</li>
            <li>Ana Castela - Solteiro forçado</li>
            <li>Caitano veloso - Sozinho</li>
            <li>Vanessa da Mata - Amado</li>
            <li>Iza - Sem Filtro</li>
            <li>Maroon 5 - Memories</li>
        </ol>
    </main>

            
    
</body>
</html>